/* line 12, ../_includes/stylesheets/video.scss */
section {
  background-color: #000;
  color: #fed136;
}

/* line 21, ../_includes/stylesheets/video.scss */
.video-panel {
  position: relative;
}

/* line 25, ../_includes/stylesheets/video.scss */
.video-panel > div {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
}

/* line 32, ../_includes/stylesheets/video.scss */
#video img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
  -webkit-filter: blur(1px) brightness(1.1) saturate(1.1);
  filter: blur(1px) brightness(1.1) saturate(1.1);
}
