<!-- Help Section -->
    <section id="help">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">我們需要您的贊助</h2>
                    <h3 class="section-subheading text-muted">您的支持，是我們走下去的動力</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <a href="{{ site.baseurl }}{{ site.data.url.gift }}">
                        <span class="help-link fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-gift fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <h4 class="service-heading">買一份紀念品</h4>
                    <p class="text-muted">紀念品說明|紀念品說明|紀念品說明|紀念品說明</p>
                </div>
                <div class="col-md-6">
                    <a href="{{ site.baseurl }}{{ site.data.url.donation }}">
                        <span class="help-link fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    
                    <h4 class="service-heading">直接捐款贊助</h4>
                    <p class="text-muted">捐款贊助說明|捐款贊助說明|捐款贊助說明|捐款贊助說明</p>
                </div>
                
            </div>
        </div>
    </section>