<footer>
    <div class="container">
        <div id="copyright">
            <span class="copyright">Copyright &copy; {{ site.title }} 2015</span>
        </div>
        <div id="social">
        	<ul>
        		<li>
        			<a target="_blank" href="{{ site.social.facebook }}">
	        			<img src="{{ site.baseurl }}img/misc/facebook.png" alt="Facebook">
	        		</a>
	        	</li>
	        	<li>
	        	    <a target="_blank" href="{{ site.social.youtube }}">
	        			<img src="{{ site.baseurl }}img/misc/youtube.png" alt="Youtube">
	        		</a>
	        	</li>
	        	<li>
	        	    <a target="_blank" href="{{ site.social.google_plus }}">
	        			<img src="{{ site.baseurl }}img/misc/google-plus.png" alt="Google +">
	        		</a>
	        	</li>
        	</ul>
        </div>
    </div>
</footer>