
<header>
    <div class="brand">
        <div class="container">
            <a href="#">
                <img src="http://placehold.it/350x150" alt="NTU Chorus">
            </a> 
        </div>
        
    </div>
    <div class="navigation">
            <ul class="nav">
                {% for nav in site.data.layout.navigationBar %}
                  <li>
                    <a href="{{ site.base_url }}{{ nav.url }}">{{ nav.title }}</a>
                  </li>
                {% endfor %}
            </ul>
    </div>
</header>


