@import 'susy';
@import 'breakpoint';

$susy: (

  columns: 12,

  global-box-sizing: border-box 

);


/* Makes border-box properties */
@include border-box-sizing;

.container {
	
	@include container($extra-small-device-container);
	
	@include breakpoint($small-device) {
		@include container($small-device-container);
	}

	@include breakpoint($medium-device) {
		@include container($medium-device-container);
	}

	@include breakpoint($large-device) {
		@include container($large-device-container);
	}
	padding-left: 3%;
	padding-right: 3%;

	
	
	.heading {
		text-align: center;

		.section-subheading {
			color: $gray-light;
			margin-top: 15px;
			@include font-size(1.5);
			text-shadow: none;
		}
	}

	.content {
		.section-subheading {
			color: $gray-light;
			text-shadow: none;
		}
	}

	.primary {
		margin-top: .2em;
	}

}

.section {
	margin-top: 20px;
}
/*------------Header-------------- */

header {
	margin-bottom: 35px;
}

.navigation {
	background-color: $background-navbar;
	text-align: center;
	.nav {
		
		li {
			@include breakpoint($small-device) {
			    border-left: 0.4px solid darken($background-navbar,8);
			    border-right: 0.4px solid darken($background-navbar,8);
			}

			border-top: 0.2px dotted darken($background-navbar,8);
			border-bottom: 0.2px dotted darken($background-navbar,8);
			
			&:hover {
				background-color: lighten($background-navbar,15);
				text-decoration: none;
			}
			
			padding: 2px 13px;
		}
		a {
			color: white;
			display: block;
			padding: 6px 0;


			
			
		}

	}
	
	img {
		width: 90%;
		margin: 0 5%;
		max-width: 350px;
	}
}

/*------------Footer-------------- */

footer {
	background-color: $gray-light;
	color: white;
	margin-top: 20px;
	padding: 20px 0;

	#copyright {
		margin-top: 20px;
		@include span(4);
	}
	#social {
		@include span(8 last);
		float: right;
		text-align: right;
		padding-right: 2%;
		li {
			display: inline;
			margin-left: 5px;
		}
	}
}

@media (min-width: $medium-device) {
	header {
		@include clearfix();
		height: 100px;
		position: relative;
	}
	.brand {
		@include span(4);
		margin-top: 8px;
	}
	.navigation {
		position: absolute;
		bottom: 0px;
		right: 0;
		text-align: right;
		@include span(8 last);
		.nav {
			@include container();
			@include clearfix();

			float: left;

			li {
			 	display: inline;
			 	float: left;
			 	width: 100px;
			 	text-align: center;
			}
		}
		
	}
}

