
@import 'config';
@import "compass/css3/selection";

* {
  @include selection(null, $linkblue)
}

body, html {
    width: auto !important;
    overflow-x: hidden !important;
    color: $secondary-dark;
    letter-spacing: 1.5px;
}

#performance-content {
    position: relative;
}
#performance-info {
	float: none;
    margin: 0 auto;
    max-width: 500px;
    list-style-type: none;
    text-align: center;
	line-height: 35px;
}

#performance-title {
	// color: $primary-bright ; 
	font-size: 55px;
}

#map_label {
	display: inline;
}
#order_ticket {
	margin-top: 20px;
}

#performance-logo {
	visibility: hidden;
}

.timeline>li .timeline-image {
     height: auto;
}

.timeline-inverted .timeline-time {
    right: 1%;

}
.timeline-time {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}
.timeline-year {
    font-weight: bold;
    display: block;
}

.timeline-date {
    display: block;
}

.timeline h4 {
    height: $font-size-h4;
}

@media(min-width:768px) {
     .timeline-inverted .timeline-time {
        left: 30%;
        right: auto;
        text-align: right;
    }
    .timeline-time {
        top: 0;
        right: 30%;
        text-align: left;
    }
}

@media(min-width:1200px) { 
    .timeline-inverted .timeline-time {
        left: 30%;

        text-align: right;

    }
    .timeline-time {
        
        top: 30%;
        text-align: left;
    }
    #performance-logo {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        position: absolute;
        right: 0;
        bottom: -30%;
        visibility: visible;
    }
}




