/*
Error: Undefined variable: "$primary-color".
        on line 17 of /home/tony/sites/frontpage/_includes/sass/custom.scss

12:     text-align: center;
13: 	line-height: 35px;
14: }
15: 
16: #performance-title {
17: 	color: $primary-color ; 
18: 	font-size: 55px;
19: }
20: 
21: #map_label {
22: 	display: inline;

Backtrace:
/home/tony/sites/frontpage/_includes/sass/custom.scss:17
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/script/tree/node.rb:50:in `perform'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `map'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `map'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/tree/root_node.rb:20:in `render'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:278:in `render'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/compass-1.0.3/bin/compass:44:in `call'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/bin/compass:23:in `load'
/home/tony/sites/frontpage/vendor/ruby/1.9.1/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$primary-color\".\A         on line 17 of /home/tony/sites/frontpage/_includes/sass/custom.scss\A \A 12:     text-align: center;\A 13: 	line-height: 35px;\A 14: }\A 15: \A 16: #performance-title {\A 17: 	color: $primary-color ; \A 18: 	font-size: 55px;\A 19: }\A 20: \A 21: #map_label {\A 22: 	display: inline;"; }
