@import 'compass';
@import 'compass/css3';

@import 'variables';
@import 'animations';
@import 'mixins';

@import "../vendors/normalize";    
@import "../vendors/reset";  


html, body {
	font-family: $font-primary;
    @include font-size(1);
    @include line-height(1);
    color: $text-primary;
    background: $background-primary;
    background-image: url('../img/background-pattern2.png');
}


a {
	color: $linkblue;
    text-decoration: none;
    &:hover { text-decoration: underline; }
}

#{headings()} {
	font-family: $font-secondary;
	color: $text-secondary;
	font-weight: normal;
	margin-bottom: 5px;
	@include text-shadow($gray-light 1px 1px);
}

h1 {
	@include font-size(3);
	margin-bottom: 8px;
	border-bottom: 1px solid $gray-light;
	padding-top: 10px;
	letter-spacing: 3px;
	line-height: 100%;
	color: lighten($color-h1, .2);
}

h2 {
	@include font-size(2.4);
	line-height: 100%;
	letter-spacing: 2px;
	color: lighten($color-h2, .15)
}

h3 {
	@include font-size(2);
	line-height: 100%;
	letter-spacing: 1px;
	color: lighten($color-h3, .1)
}


h4 {
	@include font-size(1.5);
	line-height: 100%;
	letter-spacing: 0.8px;
	color: lighten($color-h3, .8)
}


