@import 'compass';
@import 'compass/css3';
@import 'breakpoint';

@import 'variables';
@import 'animations';
@import 'mixins';

@import "../vendors/normalize";    
@import "../vendors/reset";  


html, body {
	font-family: $font-primary;
    @include font-size(1);
    @include line-height(1);
    color: $text-primary;
    background: $background-primary;
    background-image: url('../img/background-pattern2.png');
}


a {
	color: $linkblue;
    text-decoration: none;
    &:hover { text-decoration: underline; }
}

#{headings()} {
	font-family: $font-ternary;
	margin-bottom: 5px;
	@include text-shadow($gray-light 1px 1px);
}

h1 {
	@include font-size(3);
	margin-bottom: 8px;
	border-bottom: 1px solid darken($gray-lighter,.7);
	padding-top: 10px;
	letter-spacing: 10px;
	font-weight: bold;
	@include line-height(3);
}

h2 {
	@include font-size(2.4);
	line-height: 100%;
	letter-spacing: 7px;
	font-weight: bold;
	color: $color-h2;
}

h3 {
	@include font-size(2);
	line-height: 100%;
	letter-spacing: 5px;
	color: $color-h3;
}


h4 {
	@include font-size(1.5);
	line-height: 100%;
	letter-spacing: 3px;
	color: $color-h4;
}

h5 {
	letter-spacing: 1px;
	color: $color-h5;
}
p {
	@include line-height(1.2);
	text-align: justify;
	text-indent: 2 em;
}

