
// -----------------------------------------------------------------------------
// Primary Palette
// -----------------------------------------------------------------------------

$darkblue                  : #142b44 !default;
$navblue                   : #1d508d !default;
$lpblue                    : #297CBB !default;
$linkblue                  : #288ad6 !default;
$teal                      : #0FDEBD !default;
$green                     : #16c98d !default;
$yella                     : #feef6d !default;
$orange                    : #ffc83f !default;
$red                       : #fa5e5b !default;
$plum                      : #bf538d !default;


// -----------------------------------------------------------------------------
// Secondary Palette
// -----------------------------------------------------------------------------

$mauve                     : #684e79 !default;
$pink                      : #ff708e !default;
$darkcyan                  : #47a899 !default;
$softblue                  : #8abee5 !default;
$softgreen                 : #c7e6aa !default;
$beige                     : #cfcbaf !default;
$maroon                    : #582c2b !default;
$darkred                   : #841e1b !default;

//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%)  ; // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee


$brand-red: #B81E38;

$brand-yellow: #FFAC00;

$brand-blue: #679AAB;

$text-primary: $darkblue;

$text-secondary: $navblue;

$color-h1: black;

$color-h2: lighten($darkblue, 15%);

$color-h3: lighten($darkblue, 25%);

$color-h4: lighten($darkblue, 35%);

$color-h5: lighten($darkblue, 45%);

$background-primary: white;

$background-secondary: $gray-lighter;

$background-navbar: $brand-red;

// -----------------------------------------------------------------------------
// Font Family
// -----------------------------------------------------------------------------

$font-primary: Helvetica, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;

$font-secondary: "Microsoft YaHei",sans-serif;

$font-ternary: Montserrat, Arial, "全字庫正楷體", "TW-Kai", "標楷體", "BiauKai", DFKai-SB, sans-serif;

// -----------------------------------------------------------------------------
// Font Size
// -----------------------------------------------------------------------------

$base-ratio: 1.6;
$base-font-size: 18;  // 16 px
$base-line-height: 25; // 25 px

$default-border-radius: 8px; 

// -----------------------------------------------------------------------------
// Device Size
// -----------------------------------------------------------------------------


$small-device  : 320px;
$medium-device : 768px;
$large-device  : 1280px;

$extra-small-device-container: 95%;
$small-device-container: 90%;
$medium-device-container: 88%;
$large-device-container: 1300px;