---
layout: base

scripts: # ordered
  - 
    url: "http://dimsemenov.com/plugins/royal-slider/royalslider/jquery.royalslider.min.js?v=9.3.6"
    external: true
  - 
    url: "js/video-slider.js"

styles: # ordered
  - 
    url: "http://dimsemenov.com/plugins/royal-slider/royalslider/royalslider.css"
    external: true
  - 
    url: "http://dimsemenov.com/plugins/royal-slider/royalslider/skins/default/rs-default.css?v=1.0.4"
    external: true
  -
    url: "css/video.css"

title: 台大合唱團
---



<!-- Video Grid Section -->
<section id="video" >
  <div class="container">
      <div class="heading">
        <h1>精選演出</h1>
      </div>
      
      {% for playlist in site.data.video.playlists %}
        <div id="playlist-{{ playlist.title }}" class="playlist">
          <h3 class="playlist-title">{{ playlist.title }}</h3>
          <div class="royalSlider videoGallery rsDefault">
            {% for video in playlist.video %}
              <a class="rsImg" data-rsVideo="https://www.youtube.com/watch?v={{ video.id }}" href="http://img.youtube.com/vi/{{ video.id }}/hqdefault.jpg">
                <div class="rsTmb">
                  <h5 > {{ video.title }} </h5>
                  <span class="date"> {{ video.date }} </span>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
        
      {% endfor %} 
      
  </div>
</section>


<!-- <iframe type="text/html"  width="400" height="300" 
                          src="http://www.youtube.com/embed/{{ video.id }}?modestbranding=1&autohide=1&showinfo=0&controls=0"
                          frameborder="0"/>
                  </iframe> -->
