---
layout: base

scripts: # ordered
  - "/js/vendors/slick.min.js"
  - "/js/video-slider.js"

styles: # ordered
  - "/css/video.css"

title: 台大合唱團
---




<!-- Video Grid Section -->
<section id="video" >
  <div class="container">
        <div class="heading">
                <h2 class="section-heading">精選演出</h2>
                <h3 class="section-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="content">
            {% for playlist in site.data.video.playlists %}
              <div class="playlists" >
                <h4>{{ playlist.title }}</h4>
                <div class="video-slide">
                  {% for video in playlist.video %}
                    <div class="panel">
                      <img class="thumbnail" 
                           src="http://img.youtube.com/vi/{{ video.id }}/hqdefault.jpg" alt="">
                      <div class="description">
                        <span class="video-date"> {{ video.date }} </span>
                        <h3 class="video-heading"> {{ video.title }} </h3>
                        <h4 class="video-subheading"> 
                        {% for subheading in video.subtitles %}
                        {{ subheading }} <br/>
                        {% endfor %}
                        </h4>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
      	    {% endfor %}
        </div>
    </div>
  </div>
</section>


<!-- <iframe type="text/html"  width="400" height="300" 
                          src="http://www.youtube.com/embed/{{ video.id }}?modestbranding=1&autohide=1&showinfo=0&controls=0"
                          frameborder="0"/>
                  </iframe> -->
