<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% for sheet in page.styles %}
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{{ sheet }}" />
    {% endfor %}
    
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/vendors/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    
</head>
    
    <body id="page-top" class="index">
       
        {% include base/header.html %}
        
        {{ content }}
        
        {% include base/footer.html %}
        {% if site.dev %}
            {% include base/browserSync.html %}
        {% endif %}
    </body>
        
         <!-- jQuery Version 1.11.0 -->
        <script src="{{ "/js/vendors/jquery-1.11.3.min.js" | prepend: site.baseurl }}"></script>

        {% for script in page.scripts %}
          <script src="{{ site.baseurl }}{{ script }}"></script>
        {% endfor %}
</html>